.container
  .card.mt-2
    .card-header
      Patients

    .card-body
      = form_with url: patients_path, method: :get, class: 'row g-2' do |form|
        .col-auto
          = text_field_tag :search_term, params[:search_term], class: 'form-control', placeholder: "enter a patient name"
        .col-auto
          = form.submit 'Search', class: 'btn btn-primary mb-3'

      - if params[:search_term].present?
        %h1 Listing patients

        - if @patients.blank?
          %p No patient was found.
        - else
          %table.table
            %thead
              %tr
                %th First name
                %th Last name
                %th Name
                %th Birth date
                %th Gender
                %th Phone number
                %th Communication language
                %th

            %tbody
              - @patients.each do |patient|
                %tr
                  %td= patient.first_name
                  %td= patient.last_name
                  %td= link_to patient.name, patient
                  %td= patient.birth_date&.to_fs(:rfc822)
                  %td= patient.gender
                  %td= patient.phone_number
                  %td= patient.communication_language
                  %td= link_to 'Show', patient

      %br

      .card-link= link_to 'New Patient', new_patient_path
